.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.input {
  font-size: 1.5rem;
  width: calc(min(100% - 8rem, 60rem));
  margin: 3rem 0;
  padding: 0.5rem;
  display: inline;
}

.submit {
  font-size: 1.5rem;
  padding: 0.5rem;
  display: inline;
}

.title a {
  text-decoration: none;
  color: #765;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: inline;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
